<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina wed en python</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sty.css') }}">
    
</head>
<body>
    <h1>Hola de Nuevo</h1>
    
    <div>
        <label for="" class="nom">Escribe tu Nombre
        <input type="text" name="nombre">
        </label>
        <Label class="coe">Correo electronico
    <input type="password">
        </Label>
    </div>
</body>
</html>